body {
  margin: 20px;
}

.orange {
  width: 100px;
  height: 100px;  
  background: #e89217;
}

.applegreen {
  width: 100px;
  height: 100px;  
  background: #7C9F35;
}

.darkblue {
  width: 100px;
  height: 100px;  
  background: #0c1b36;
}

.blue {
  width: 100px;
  height: 100px;  
  background: #011c4d;
}

.lightergrey {
  width: 100px;
  height: 100px;  
  background: hsl(0, 0%, 65%);
}

.lightgrey {
  width: 100px;
  height: 100px;  
  background: #808080;
}

.grey {
  width: 100px;
  height: 100px;  
  background: #4c4c4c;
}

.darkgrey {
  width: 100px;
  height: 100px;  
  background: #2c2c2c;
}

.h1 {
  font-size: 45px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 35px;
}

.h4 {
  font-size: 30px;
}

.h5 {
  font-size: 22px;
}

.h6 {
  font-size: 17px;
}