body {
  margin: 20px;
  background-color: #e2f5be;
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  color: #011c4d;
}

h2 {
  color: #7C9F35;
}

.color-palette {
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
  text-align: center;
}

.orange {  
  background: #e89217;
}

.applegreen {  
  background: #7C9F35;
}

.darkblue {
  background: #0c1b36;
  color: #ffffff;
}

.blue {
  background: #011c4d;
  color: #ffffff;
}

.lightergrey {
  background: #b4b3b3;
}

.lightgrey {  
  background: #808080;
}

.grey {
  background: #4c4c4c;
  color: #ffffff;
}

.darkgrey {
  background: #2c2c2c;
  color: #ffffff;
}

.h1 {
  font-size: 40px;
  line-height : 10px;
}

.h2 {
  font-size: 38px;
  line-height : 10px;
}

.h3 {
  font-size: 34px;
  line-height : 10px;
}

.h4 {
  font-size: 30px;
  line-height : 10px;
}

.h5 {
  font-size: 22px;
  line-height : 10px;
}

.h6 {
  font-size: 17px;
  line-height : 10px;
}

.encabezados {
  margin-top: -25px;
}

.colors {
  padding: 30px;
  padding-top: 10px;
  padding-right: 105px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 20px;
}

.container {
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
  margin-top: -30px;
  float: left;
  position: relative;
}

.headers {
  padding: 30px;
  padding-top: 10px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 20px;
}

.button-position {
  padding: 30px;
  padding-top: 10px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 10%;
}

.header {
  padding-left: 40px;
}

.btn-main2 {
  width: 100px;
  height: 50px;
  background-color: #7C9F35;
  color: white;
  border: none;

}

.btn-main {
  width: 100px;
  height: 50px;
  background-color: #e89217;
  color: white;
  border: none;
}

.btn-secondary {
  width: 100px;
  height: 50px;
  background-color: #808080;
  color: white;
  border: none;
}

.btn-secondary2 {
  width: 100px;
  height: 50px;
  background-color: #808080;
  color: white;
  border: none;
}

.btn-main2:hover {
  width: 105px;
  height: 55px;
  background-color: #568100;
  color: white;
  border-radius: 4px;
}

.btn-main:hover {
  width: 105px;
  height: 55px;
  background-color: #ca7600;
  color: white;
  border-radius: 4px;
}

.btn-secondary:hover {
  width: 105px;
  height: 55px;
  background-color: #4c4c4c;
  color: white;
  border-radius: 4px;
}

.btn-secondary2:hover {
  width: 105px;
  height: 55px;
  background-color: #4c4c4c;
  color: white;
  border-radius: 4px;
}

.btn-main2:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.btn-main:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.btn-secondary2:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.links {
  padding: 30px;
  padding-right: 130px;
  padding-top: 5px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 20px;
}

.enlace:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;;
}

.enlace:hover {
  color: #e89217;
}

a:link {
  color:#7C9F35;
}

a:visited {
  color:#4c4c4c;
}