body {
  margin: 20px;
  background-color: #e2f5be;
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  color: #011c4d;
}

h2 {
  color: #7C9F35;
}

.color-palette {
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
  text-align: center;
}

.orange {  
  background: #e89217;
}

.applegreen {  
  background: #7C9F35;
}

.darkblue {
  background: #0c1b36;
  color: #ffffff;
}

.blue {
  background: #011c4d;
  color: #ffffff;
}

.lightergrey {
  background: #b4b3b3;
}

.lightgrey {  
  background: #808080;
}

.grey {
  background: #4c4c4c;
  color: #ffffff;
}

.darkgrey {
  background: #2c2c2c;
  color: #ffffff;
}

.h1 {
  font-size: 40px;
  line-height : 10px;
}

.h2 {
  font-size: 38px;
  line-height : 10px;
}

.h3 {
  font-size: 34px;
  line-height : 10px;
}

.h4 {
  font-size: 30px;
  line-height : 10px;
}

.h5 {
  font-size: 22px;
  line-height : 10px;
}

.h6 {
  font-size: 17px;
  line-height : 10px;
}

.headers {
  margin-top: -25px;
}

.container-large {
  width: 90%;
  height: 30%;
  padding: 30px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 20px;
}

.container {
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
  margin-top: -30px;
  float: left;
  position: relative;
}

.container-medium {
  width: 80%;
  height: 40%;
  padding: 30px;
  padding-top: 10px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 20px;
}

.container-small {
  width: 20%;
  height: 50%;
  padding: 30px;
  padding-top: 10px;
  margin: 10px;
  margin-bottom: 30px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 10%;
}

.header {
  padding-left: 40px;
}

.btn {
  width: 100px;
  height: 50px;
  color: white;
  border: none;
}

.darkgreen:hover {
  width: 105px;
  height: 55px;
  background-color: #568100;
  border-radius: 4px;
}

.darkorange:hover {
  width: 105px;
  height: 55px;
  background-color: #ca7600;
  border-radius: 4px;
}

.greybutton:hover {
  width: 105px;
  height: 55px;
  background-color: #4c4c4c;
  border-radius: 4px;
}

.focused:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.links {
  padding: 30px;
  padding-right: 130px;
  padding-top: 5px;
  margin: 10px;
  float: left;
  background-color: rgb(254, 248, 239);
  border-radius: 20px;
}

.enlace:hover {
  color: #e89217;
}

a:link {
  color:#7C9F35;
}

a:visited {
  color:#4c4c4c;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  -wekit-appearence: none;
  -moz-appearance: none;
  appearance:none;
  border: 2px solid #7C9F35;
  margin-bottom: 16px;
  border-radius: 3px;
}



[type="email"]:focus:invalid {
  box-shadow: 0 0 2px 2px red;
  outline: 0;
}  

[type="email"]:focus:valid {
  box-shadow: 0 0 2px 2px #7C9F35;
  outline: 0;
} 

.field-validator { 
  display: none;
  } 

[type="email"]:focus:invalid + .field-validator { 
  display: block;
  } 

.input-small {
  max-width: 60px;
}

.input-medium {
  max-width: 100px;
}

.input-big {
  max-width: 300px;
}

[type="checkbox"], [type="radio"] {
  width: 12px;
  height: 12px;
  border: 2px solid #7C9F35;
  background-color: none;
}

[type="radio"] {
  border-radius: 100%;
}

[type="radio"]:checked {
  background-color: #e89217;
}

[type="checkbox"]:checked {
  background-color: #e89217;
}
